fastapi
uvicorn[standard]
jinja2
python-multipart
python-dotenv
itsdangerous
requests
psutil
psycopg2-binary
reportlab
openpyxl
pillow
xlsxtpl
segno
qrcode
bcrypt
pywa
google-cloud-storage
pandas
cryptography
sqlalchemy
pydantic
